#th{
    background-color: green;
    color: white;
    font-size: 15px; 
}

#container{
    display:block;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 2%;
    padding-right: 2%;
}

#image{
    display:block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 25%;
    height: 15%;;
}

#table{
    border: 1px solid green;
    text-align: center;
}

#titulo{
    text-align: center;
    color: green;
    font-size: 35px;
    font-family: 'Century Gothic';
}

h2.ui.header {
    font-size: 30px;
    color: green;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: 'Century Gothic';
}

#id{
    color: #815000;
    font-size: 15px;
}
