<app-menu></app-menu>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="ui container">
    <div class="row">
        <div class="column">
            <h3 id="titulo" class="ui header">NUEVA TARIFA</h3>
            <form id="form" class="ui form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="field">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="nombre" required>
                </div>
                <div class="field">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                    [(ngModel)]="descripcion" required>
                </div>
                <div class="field">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" id="precio" name="precio"
                    [(ngModel)]="precio" required>
                </div>
                <button class="ui green button btn-block" [disabled]="!f.valid">
                    <i class="check circle icon"></i>Crear</button>
                <button class="ui blue button btn-block" routerLink="/listaTarifa">
                    <i class="arrow alternate circle left icon"></i> Volver</button>
            </form>
        </div>
    </div>
</div>