#bienv{
    text-align: center;
}

#image{
    margin-left: auto !important;
    margin-right: auto !important
}

h2.ui.header {
    font-size: 30px;
    color: #07902A;
    margin-left: auto !important;
    margin-right: auto !important;
}
